# Папка с настройками IntelliJ IDEA
.idea/

# Конфигурационные файлы проектов
*.iml

# Файлы автосборки и индексации
*.ipr
*.iws

# Логи
*.log

# Временные файлы ОС и редакторов
*.swp
*.tmp
.DS_Store
Thumbs.db

# Папка с скомпилированным кодом
/out/
build/

# Файлы Maven и Gradle кешей
.mvn/
.gradle/
target/

# Исключаем локально сгенерированные файлы, библиотеки и кэш
*.class
*.jar
*.war
*.ear
